<div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a id="li_home" href="#home" onclick="home(); return false;">Home</a></li>
        <li><a id="li_flowers" href="#flowers" onclick="flowers_catalog(); return false;" >Flowers catalog</a></li>
        <li><a href="#" onclick="about(); return false;" >About</a></li>
        <li><a href="#" onclick="contact(); return false;" >Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
		    <li><button id = "log_in_button" data-toggle="modal" href="#loginModal"><span class="glyphicon glyphicon-log-in"></span> Your Account</button></li> 
		    <li><button id = "register_button" data-toggle="modal" href="#registerModal"><span class="fas fa-user-plus"></span> Register</button></li> 
      </ul>
    </div>