<div class="collapse navbar-collapse" id="myNavbar">
  <ul id="navbar_id" class="nav navbar-nav">
    <% if(isLogged == "yes") { %>
        <li> <p style="color:white;"><b> <%= name %> is logged </b></p></li>
    <% } %>
    <li><a id="li_home" href="#" onclick="home(); return false;">Home</a></li>
    <li><a id="li_flowers" href="#flowers" onclick="flowers_catalog(); return false;" >Flowers catalog</a></li>
    <% if(isLogged == "yes") { %>
        <% if(role == "admin") { %>
        <li><a href="#" onclick="read_list(); return false; ">Users manage</a></li>
        <li><a href="#" onclick="branches_list(); return false; ">Branches manage</a></li>
        <% } %>
        <% if(role == "worker") { %>
        <li><a href="#" onclick="read_list(); return false; ">Users manage</a></li>
        <% } %>
    <% } %>
    <li><a href="#" onclick="about(); return false;" >About</a></li>
    <li><a href="#" onclick="contact(); return false;" >Contact</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <% if(isLogged == "yes") { %>
        <li><button data-toggle="modal" href="#" onclick="logOut();">Log Out <span class="glyphicon glyphicon-log-out"></span></button></li>
    <li><button id = "edit_your_profile_button" data-toggle="modal" href="#editYourProfileButtonModal"><span class="glyphicon glyphicon-edit"></span> Edit Your Profile</button></li> 
    <% } else {%>
    <li><button id = "log_in_button" data-toggle="modal" href="#loginModal"><span class="glyphicon glyphicon-log-in"></span> Log In</button></li> 
    <li><button id = "register_button" data-toggle="modal" href="#registerModal"><span class="fas fa-user-plus"></span> Register</button></li> 
    <% } %>

    
  </ul>
    </div>