<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="javascripts/my_functions.js"></script>
<script src="javascripts/ss_browserified.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style>	
.form-gap {
    padding-top: 70px;
}
</style>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="form-gap"></div>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
				<div class="panel-body">
					<div class="text-center">
						<h3><i class="fa fa-lock fa-4x"></i></h3>
						<h2 class="text-center">Please pick a new password</h2>
						<p>We are good people, pick as simple password as you wish</p>
						<div class="panel-body">
							<form id="reset_password_form" role="form" autocomplete="off" class="form" method="post">
								<div class="form-group">
									<div class="input-group">
										<input id="first_password" placeholder="simple password" class="form-control"  type="password">
										<input id="second_password" placeholder="please type again" class="form-control"  type="password">
										<input id="reset_pass_token" style="visibility:hidden" type="password" value="<%=token%>">
									</div>
								</div>
								<div class="form-group">
									<!-- <button id='reset_passsword_button'  class="btn btn-lg btn-primary btn-block" value="Change your Password" type="submit"> -->
									<input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Change your Password" type="submit">
									<!-- <button id='reset_passsword_button' onclick="reset_password_button(); return false;" class="btn btn-lg btn-primary btn-block" value="Change your Password" type="submit"> -->
								</div>
							</form>
						</div>
					</div>
				</div>
            </div>
          </div>
	</div>
</div>

<script>
 $(document).ready(function(){
	
	jquery_intials()

})

</script>