<div class="center" >
	<div class="panel panel-danger">
		<div class="panel-heading">
			Welcom to my website
		</div>
		<div class="panel-body">
			<img src="images/PetuniaProfilePictureImage.png" class="img-responsive"  style="width:100%" alt="it was supposed to be image of us">
		</div>
		<div class="panel-footer">
			Probably the best <b> programmer</b> in the world
		</div>
	</div>
</div>